
img{
    height: 55px;
    width: 50px;
    margin-left: 0px;
    border-radius: 2px;
    cursor: pointer;
}

.js{

    text-align:initial;
}

.prog{
    border-radius: 20px;
    margin: 10px;
}



.margen{
    
  text-align:end;
}
h3{
    color: white;
    margin-top: 20px;
    margin-left: 5px;
}

.textos{
    color: black;
    
}
.jst{
    color: black;
}

.modales{
    
    display: flex;
    background-color: blue;
    text-align: center  ;

    
}